body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #1d1212;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #ad3333;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    font-style: italic;
    
    
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

section {
    text-align: center;  
}

h2 {
    color: #0c76df;
}


form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

label {
    margin: 10px 0 5px;
}

input[type="text"], input[type="email"] {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0066cc;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005bb5;
}


ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

.participante {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.participante:hover {
    transform: scale(1.05);
}

.participante img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
}

.participante p {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.participante span {
    display: block;
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}


footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;  
}

footer a {
    margin: 0 15px;  
    text-decoration: none;
    color: #0066cc;
    font-size: 30px;  
    transition: transform 0.3s ease;  
}

footer a:hover {
    text-decoration: underline;
    transform: scale(1.2);  
}

footer a:active {
    transform: scale(1);  
}

footer {
    display: flex;
    justify-content: center;  
    align-items: center;  
}

footer a:not(:last-child) {
    margin-right: 20px;  
}


body.dark-mode {
    background-color: #333;
    color: white;
}

body.dark-mode header {
    background-color: #444;
}

body.dark-mode button {
    background-color: #005bb5;
}

body.dark-mode footer a {
    color: #66ccff;
}
